extends ../layout-email

block content
    h5 Gmail App

    // Angular directives
    div(ng-controller='TestCtrl')
        h1 {title2}
        input(type='text' ng-model='title2')

block js-includes
    script(src='/js/emailapp/common.js')