extends layout

block content
	br
	.well.well-sm.text-center
		h4 Project to learn MEAN stack by creating CRUD application with various data
	a.btn.btn-default.btn-xs(href='/starwars/',role='button') Starwars Library

	br
	br
	hr
	h5 To Dos
	ul#tasks
		li Create a table with filtering capabilities, delete options
		li Utilize Angular.js to do edits and save on demand thru the table
		li Create a form to edit the JSON individual objects
		li Dropzone type of image upload
		li Multiple image upload capabilities as well
		li Create a file-upload folder with Multer
		li Create python scripts that would push to Heroku server
		li Create RESTful API for lazy loading

	br
	br
	hr
	h5 Star War References for Data
	ul
		li http://www.starwars.com/databank
		li https://swapi.co/
		li http://www.sisense.com/blog/visualizing-the-data-behind-a-great-star-wars/
		li https://www.tableau.com/about/blog/2015/12/force-awakens-our-favorite-visualizations-47606


	br
	br
	h5 Future Projects - learning the use of Javascript data visualization
	ul.hide
		li http://www.creativebloq.com/design-tools/data-visualization-712402
		li https://github.com/seemethere/nba_py/tree/0.1a2
		li https://downloads.nbastuffer.com/current-season-data-updates/download-now/
		li https://github.com/toddwschneider/ballr/blob/master/players_data.R
		li http://blogs.sas.com/content/sastraining/2016/03/14/how-to-graph-nba-data-with-sas/
		li http://toddwschneider.com/posts/ballr-interactive-nba-shot-charts-with-r-and-shiny/
		li http://fivethirtyeight.com/features/stephen-curry-is-the-revolution/
		li http://rstudio-pubs-static.s3.amazonaws.com/11288_111663babc4f44359a35b1f5f1a22b89.html
		li https://thedatagame.com.au/2015/09/27/how-to-create-nba-shot-charts-in-r/
		li http://www.datasciencecentral.com/profiles/blogs/a-simple-introduction-to-data-science