extends layout

block content
  br
  .well.well-sm.text-center
    h4 Place to test out different Javascript sorting, filtering libraries
  a.btn.btn-default.btn-xs(href='/datatable/',role='button') DataTable Library
