block all
doctype html
html
  head
    block head
      title= title
      // css
      block css
      link(rel='stylesheet', href='/css/bootstrap-3.3.6.min.css')
    block meta
      meta(name="theme-color" content="#ffffff")
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(name='description', content='Coding Test for Intuit')
      meta(name='author', content='Jesse Woo working thru Brian Ford Tutorial')

  body

    .container
        block content

        block footer
          footer
            // Common javascript includes
            script(src='/3rd-party-js/jquery-2.1.4.min.js')
            script(src='/3rd-party-js/bootstrap-3.3.6.min.js')
            script(src='/3rd-party-js/jquery.dataTables-1.10.10.min.js')
            script(src='/3rd-party-js/dataTables.bootstrap-1.10.10.min.js')
            // Other javascript files
            block js-includes
