#StartForm,
#SubmitForm{
    margin-top: 10px;
}

#instructionIWA,
#WidgetContainer form,
#SummaryContainer {
    margin-top: 70px;
}

#SummaryContainer p {
    font-style: italic;
    margin-left: 10px;
}