extends ../layout-iwa

block content

    h4= postTitle
    //- general panel ----------------------------------------------------------
    .well-sm.well.text-center#instructionIWA this is where the IWA widget will be placed

    div#WidgetContainer
        form(role='form')

    nav.hide#questionsPagination.text-center
        ul.pagination
            li#firstname-question
                a(href="#firstname-question") 1: First Name
            li#homeaddress-question
                a(href="#homeaddress-question") 2: Home Address
            li#city-question
                a(href="#city-question") 3: City of Residence

    div#ErrorMessageContainer

block js-includes
    script(src='/js/iwa/form.js')