extends ../layout-iwa

block content
    br
    br
    //- general panel ----------------------------------------------------------
    div.container
        h4 IWA Widget Container
        div#WidgetContainer
        button.btn.btn-primary#StartForm Start Form

block js-includes
    script(src='/js/iwa/form.js')