extends ../layout-iwa

block content

    div#SummaryContainer.well-sm.well
        button.pull-right.btn.btn-default.btn-sm#EditInfo Edit Info
        h4= postTitle
        hr
        h5 Your First Name and initial
        p#firstname
        br
        h5 Home address (number and street). If you have a P.O. box, see instructions.
        p#homeaddress
        br
        h5 City, town or post office, state, and ZIP code.
        p#city
        br


block js-includes
    script(src='/js/iwa/summary.js')