extends ../layout-brianford

block content

    <br>
    // Takes the title from routes/brianford.js
    .well-sm.well
        h2= title
        ul
            li http://briantford.com/blog/angular-express
            li The client runs on the web browser, and does asynchronous communication to the server.
            li The server then retrieves and stores data for the client.

block js-includes
